# NetBeans Files and Directories #
nbproject/private/
nbproject\private\
build/
build\
nbbuild/
nbbuild\
nbdist/
nbdist\
dist/
dist\
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
